/* Shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-padding {
    padding: 20px 240px;
}

.primary-color {
    color: #FF42A5;
}

.btn-primary {
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
}

/* navigation bar styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.extra-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icon h2 {
    font-weight: 700;
    font-size: 2.85rem;
}

.nav-icon img {
    width: 86.041px;
    height: 40px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 17px 24px;
    color: #3C354F;
    font-weight: 500;
    cursor: pointer;
}

nav li i {
    margin-left: 10px;
}

.follow-site {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner styles */
.banner-container {
    display: flex;
    gap: 100px;
    /* justify-content: space-evenly; */
    align-items: center;
    /* background: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left bottom; */
}

.banner-content {
    width: 50%;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.83rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.banner-img img {
    width: 100%;
    /* height: 100%; */
}

#btn-x {
    background-color: #4EC5F7;
}

/* online games section style */
.online-games h1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}


.online-games>p {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.online-games-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}


.card {
    width: 250px;
    height: 350px;
}


.card>p {
    color: #534C64;
    font-weight: 500;
    margin-top: 7px;
}

.card-img-1 {
    width: 100%;
    height: 300px;
    background-image: url("./images/Rectangle\ 4.png");
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.card-img-2 {
    width: 100%;
    height: 300px;
    background-image: url("./images/Rectangle\ 5.png");
    background-position: center;
    background-size: cover;
}

.card-img-3 {
    width: 100%;
    height: 300px;
    background-image: url("./images/Rectangle\ 7.png");
    background-position: center;
    background-size: cover;
}

.card-img-4 {
    width: 100%;
    height: 300px;
    background-image: url("./images/Rectangle\ 6.png");
    background-position: center;
    background-size: cover;
}

.play-btn {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 5px;
}

.img-cards:hover .play-btn {
    display: flex;
}

/* players container styles */
.players-container {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
}

.player-content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.player-content p {
    color: #534C64;
    font-weight: 500;
    margin-top: 7px;
}

.player-img img {
    width: 100%;
    /* height: 100%; */
}

.doll-img {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    position: relative;
    bottom: 150px;
    left: -100px;
}

.doll-img img {
    width: 100%;
}

/* game catagory styles */

.catagory {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: #FFF;
}
.game-catagory-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.catagory img {
    width: 30px;
}
.catagory-text {
    font-size: 0.5rem;
}
.catagory:hover {
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
/* footer section styles */
footer {
    background: #0B0223;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-icon {
    justify-content: center;
}
.footer-details, .terms{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    gap: 60px;
    font-weight: 400;
}
.footer-container ul li {
    list-style: none;
}
.footer-links{
    font-size: 2rem;
    font-weight: 700;
}


@media screen and (max-width:576px) {
    .btn-primary {
        font-size: 1rem;
        padding: 15px 20px;
        margin-right: 10px;
    }

    .primary-padding {
        padding: 20px;
    }

    nav,
    .players-container,
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .banner-content {
        width: unset;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .banner-content h2 {
        font-size: 2rem;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 5rem;
        text-align: center;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .online-games-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .online-games h1 {
        font-size: 2rem;
    }

    .online-games>p {
        font-size: 1rem;
    }

    .players-container {
        gap: 60px;
    }

    .doll-img {
        width: 150px;
        height: 100px;
        bottom: 60px;
        left: 1px;
    }
    .player-img img {
        width: 80%;
    }
    .player-content h2 {
        font-size: 2rem;
    }

    .player-content p {
        font-size: 1rem;
    }
    .game-catagory-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: column;
        gap: 10px;
        place-items: center;
    }
    .catagory img {
        width: 30px;
    }
    .catagory {
        padding: 5px;
    }
    .footer-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media  screen and (min-width:576px) and (max-width:960px) {
    .primary-padding {
        padding: 20px 40px;
    }
    nav,
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .banner-container {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .banner-content {
        width: unset;
    }
    .online-games-card {
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
        flex-wrap: wrap;
        justify-content: center;
    }
}